@charset "utf-8"
/* CSS Document */

span {color: #4A206B; }
.pozadina{
	background-image: url("slike/NEBO MEJL MEJL converted.jpg");
	background-color: lightblue;
}

.pozadina2 {
	background-image: url("slike/NEBO MEJL MEJL converted.jpg");
	background-color: darkgray;
}

.pozadina3 {
	background-color: darkgray;
	background-image: url("slike/NEBO MEJL MEJL converted.jpg");
}

.pozadina4 {
	background-color: darkgray;
	background-image: url("slike/NEBO MEJL MEJL converted.jpg");
}


p{
	color:blue;
	font-family: serif;
	font-size: 16px;
	line-height: 18px;
}

h1{
	color:purple;
	font-family: !important;
	font-size: 18px;

.navigacijska_lista{
	li {
		color: rgb(0, 0, 255);
		font-size: 20px;
		background-color: rgba(170, 255, 255, 0.5);
		padding:15px;
		margin-left: auto;
		margin-right: auto;
		width: 300px;
		display: inline;
	}
	a:hover{
		background color: darkgray;
	}
	a:link{
		text-decoration: none;
	}



